<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.study.genieapi.artist.repository.ArtistMapper">
    <select id="findAll" resultType="Artist" parameterType="string">
        select * from artist
     <if test="searchParam != null">
        where artistName LIKE '%'||#{searchParam}||'%'
     </if>
        order by artistId DESC
    </select>

    <select id="findById" parameterType="int" resultType="Artist">
        select * from artist
        where artistId = #{id}
    </select>
    <insert id="save" parameterType="Artist" useGeneratedKeys="true" keyProperty="artistId">
        insert into ARTIST
        (artistAuthor, artistName, artistBirth, agency, country, artistExplanation, createDate)
        values
            ('sony', #{artistName}, #{artistBirth}, #{agency}, #{country}, #{artistExplanation}, default);
    </insert>

    <update id="updateArtist" parameterType="Artist">
        update ARTIST
        set artistName = #{artistName},
            artistBirth = #{artistBirth},
            agency = #{agency},
            country = #{country},
            artistExplanation = #{artistExplanation},
            modifyDate = NOW()
        where artistId = #{artistId}
    </update>
    <delete id="deleteArtist" parameterType="int">
        delete from ARTIST
        where artistId = #{id}
    </delete>
</mapper>