<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.study.genieapi.artist.mapper.ArtistMapper">
    <select id="findAll" resultType="ArtistList">
        select rownum() rnum, * from artist
     <if test="searchParam != null">
        where artistName LIKE '%'||#{keyword}||'%'
     </if>
        order by artistId DESC
    </select>

    <select id="findById" resultType="ArtistDetail">
        select * from artist
        where artistId = #{id}
    </select>
    <insert id="save" useGeneratedKeys="true" keyProperty="artistId">
        insert into ARTIST
        (artistAuthor, artistName, artistBirth, agency, country, artistExplanation, createDate)
        values
            ('sony', #{artistName}, #{artistBirth}, #{agency}, #{country}, #{artistExplanation}, default);
    </insert>

    <update id="updateArtist">
        update ARTIST
        set artistName = #{artist.artistName},
            artistBirth = #{artist.artistBirth},
            agency = #{artist.agency},
            country = #{artist.country},
            artistExplanation = #{artist.artistExplanation},
            modifyDate = NOW()
        where artistId = #{id}
    </update>
    <delete id="deleteArtist">
        delete
        from ARTIST
        where artistId = #{id}
    </delete>
</mapper>